<div class="widget-container">
  <div class="widget">
      <div class="icon">
          <fa-icon [icon]="faChartBar"></fa-icon>
      </div>
      <div class="value">
          <div class="top">10</div>
          <div class="bottom">Total number of process definitions</div>
      </div>
  </div>
  <div class="widget">
      <div class="icon">
          <fa-icon [icon]="faLocation"></fa-icon>
      </div>
      <div class="value">
          <div class="top">15</div>
          <div class="bottom">Total number of active process instances</div>
      </div>
  </div>
  <div class="widget">
      <div class="icon">
          <fa-icon [icon]="faChartBar"></fa-icon>
      </div>
      <div class="value">
          <div class="top">72</div>
          <div class="bottom">Total number of completed process instances</div>
      </div>
  </div>
</div>
