
.form{
  text-align: center;
  height: 250px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;


  .form-group{

    width: 250px;

    .form-control{
      text-align: center;
      width: 150px;
    }


  }
  .button{
    align-items: right ;
  }


}
